a {
  text-decoration: none;
  color: inherit;
}


body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: white;
  color: black;
  text-align: center;
  height: 100%;
  font-size: 18px;
}

.wrappper {
  width: 100%;
  margin: 0 auto;
}

canvas {
  color: rgb(0, 0, 0);
  border: black dashed 2px;
  padding: 15px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}
h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1.2em;
}
Button {
  background: lightgray;
  border-radius: 5px;
  border: none;
  color:black;
  width: 35px;
  height: 35px;
  margin: 0 10px 10px 0;
  box-shadow: 0px 3px 0px 0px darkgray;
  outline: none;
}
Button:hover {
  translate: 0px 3px;
  box-shadow: none;
}

.selected {
visibility: hidden;
}

.btn-2 {
  border-radius: 10px;
  background:lightgray;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 10px;
  width: 180px;
  height: 50px;
  margin: 0 10px 10px 0;

  outline: none;
}
.btn-2:hover {
  translate: 0px 3px;
  box-shadow: none;
}

#bouttoncacher{
  background-color: white;
  box-shadow: none;
}

#bouttoncacher:hover{
  border: 1px solid black;
}



::backdrop{
  background-color: rgba(93, 188, 251, 0.5) ;
}


#dialog{
  border: none;
  border-radius: 10px;

}

#milieux{
  display: flex;

}
#gauche{
  text-align: left;
}
img{
  height: 200px; 
}
#h1{
  font-size: 30px;
}
#divDialog{
  padding: 30px;
}
#ligne{
  border-color: blue;
}
#RP{
  font-weight: bold;
}
#inspi{
  font-weight: bold;
}
#fermerDialog{
  font-weight: bold;
  width: 100px;
}